<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szukasz...</title>
</head>
<body>
<h2>
<a class="btn btn-default btn-lg" href="index" role="button">widok bazy danych...
</a><br></br>

<a class="btn btn-default btn-lg" href="ksiazka_formularz" role="button">formularz dodawania książek...
</a><br></br>

<a class="btn btn-default btn-lg" href="importzAPI" role="button">zaimportuj ksiażki ze wskazanego API...
</a><br></br>

<a class="btn btn-default btn-lg" href="restapi/lista" role="button">Lista RestAPI
</a><br></br>

<a class="btn btn-default btn-lg" href="restapi/szczegolowo/" role="button">Widok RestAPI - po kliknięciu w adresie podaj nr pozycji z bazy
</a><br></br>

</h2>

</body>
</html>